@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

.font-itim {
  font-family: 'Itim', cursive;
}
.pointer {
  cursor: pointer;
}
.bg-universe {
  background-color: #d9d9d9;
}
.border-black {
  border: 1px solid rgba(31, 31, 31, 0.479);
}
.text-decoration-none {
  text-decoration: none;
}
.hover-red:hover {
  color: red;
}
.pos-relative {
  position: relative;
}
.top-right {
  position: absolute;
  top: 10%;
  right: 20%;
  z-index: 10;
}
.basic-widget {
  margin-top: 20px;
  margin-bottom: 20px;
}
.box-100,
.box-120 {
  width: 100px;
  height: 100px;
  object-position: center;
  object-fit: contain;
  overflow: hidden;
}
.box-120 {
  width: 120px;
  height: 120px;
}
.footer {
  margin-bottom: 0;
}
.overflow-hidden {
  overflow: hidden;
}

/* product card */
.product-card-outer {
  width: 295px;
  height: 380px;
  background: #ffffff;
  border-radius: 10px;
  cursor: pointer;
}
.img-center-product-card {
  width: 100%;
  height: 235px;
  overflow: hidden;
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}
.cart-icon {
  padding: 10px;
}
/* grid banner */
.grid-banner-1,
.grid-banner-2,
.carousel-banner {
  width: 100%;
  height: 71vh;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
}
.grid-banner-2 {
  height: 34vh;
}
@media only screen and (max-width: 768px) {
  .grid-banner-2,
  .carousel-banner {
    height: 34vh;
  }
}

/* search */
.search-outer {
  position: absolute;
  top: 10%;
  width: 100%;
}
.img-fit{
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: contain;
}